.App {
  min-height: 100vh;
  background-image: linear-gradient(to right, #141414, #323232);
  color: #D2FFBE;
}

.App__Content {
  max-width: 1080px;
  margin: 0 auto;
  background: rgba(0, 0, 0, -.5);
}

.App__Content, .App__Content > div {
  min-height: calc(100vh - 100px);
}

@media only screen and (min-width: 768px) {
  .App__Content, .App__Content > div {
    padding: 10px;
  }
}

.form-label {
  color: #83936F !important;
}

.form-label.Mui-focused {
  color: #D2FFBE !important;
}

.MuiButton-outlinedPrimary {
  color: #607A2E !important;
}

.MuiButton-outlinedPrimary.cancel {
  color: #FF5D5D !important;
}

.MuiInput-underline:after:not(.Mui-Error) {
  border-bottom: 2px solid #D2FFBE !important;
}

.vertical-timeline-element-subtitle {
  font-size: 14px;
}

.vertical-timeline-element-content {
  padding: 4px !important;
}

.vertical-timeline-element {
  margin: 16px 0 !important;
}

.vertical-timeline {
  width: 100% !important;
  padding: 4px 8px !important;
  max-height: 70vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  margin: 0 !important;
  align-items: center !important;
}

.vertical-timeline::before {
  display: none !important;
}

.vertical-timeline::-webkit-scrollbar {
  display: none;
}
.vertical-timeline-element::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: calc(100% + 16px);
  width: 4px;
  background: #fff;
}

.vertical-timeline-element-content .vertical-timeline-element-date {
  padding: 4px 0 !important;
}

.alert {
  position: fixed;
  z-index: 100;
  top: 6%;
  right: 10%;
}
