.App {
  min-height: 100vh;
  background-image: linear-gradient(to right, #9bd18a, #4fdaab);
}

.App__Content {
  max-width: 1080px;
  margin: 0 auto;
  background: rgba(0, 0, 0, -.5);
}

.App__Content, .App__Content > div {
  min-height: calc(100vh - 100px);
}

@media only screen and (min-width: 768px) {
  .App__Content, .App__Content > div {
    padding: 10px;
  }
}
